<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skn.MyBlog.repository.VoteMapper" >
  <resultMap id="BaseResultMap" type="com.skn.MyBlog.domain.Vote" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <association property="user" column="user_id" javaType="com.skn.MyBlog.domain.User">
            <id property="id" column="userId"/>
            <result property="username" column="username"/>
        </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, user_id
  </sql>
  <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select a.*,b.id userId,b.username
    from vote a left join user b on a.user_id = b.id
    where a.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from vote
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
     <select id="getvotebyblogid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select b.*, 
    (select id from user where id = b.user_id) userId,
    (select username from user where id = b.user_id) username
    from  blog_vote a,vote b
    where a.vote_id = b.id and a.blog_id = #{id,jdbcType=BIGINT}
  </select>
  

  <insert id="insert" parameterType="com.skn.MyBlog.domain.Vote" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into vote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.skn.MyBlog.domain.Vote" >
    update vote
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skn.MyBlog.domain.Vote" >
    update vote
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id = "deleteBlogVote">
  	delete from blog_vote where vote_id = #{voteId,jdbcType=BIGINT}
  </delete>
  
  <delete id = "deleteVote">
  	delete from vote where id = #{voteId,jdbcType=BIGINT}
  </delete>

   <delete id = "deleteBlogAllVote">
  	delete a.*,b.* from vote a left join blog_vote b on a.id = b.vote_id where b.blog_id = #{blogId,jdbcType=BIGINT}
  </delete>
  
 
  
  <insert id = "insertBlogVote">
  	insert into blog_vote(blog_id,vote_id) values(#{blogId,jdbcType=BIGINT},#{voteId,jdbcType=BIGINT})
  </insert>
</mapper>